mixin pci-topList(topPackageClassInfoList)
    ul
        -for packageClassInfo in topPackageClassInfoList
            li
                a(href="/classNotFoundException/" + packageClassInfo.getFullClassName() + "/" + packageClassInfo.getId() + "/") #{packageClassInfo.getFullClassName()}