extends ../layouts/base

block content
    .raw
        .col-xs-8
            h1 ClassNotFoundException - What happend? Solution!

            +lorem
            +lorem
            +lorem
            +lorem
            +lorem

        .col-xs-4
            h3 Most popular classes

            +pci-topList(topPackageClassInfoList)